---
name: Rust Testing
"on":
  push:

jobs:
  cargo_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          clean: false
      - name: Run cargo test
        run: cargo test
